<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container  ">
    {{!-- brand --}}
    <a class="navbar-brand" href="/">
      <img src="/images/badminton_logo.png" alt="" width="60">
      <span>BadmintonFans</span>
    </a>

    <button class="navbar-toggler navbar-dark " type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      {{!-- navigation links --}}

      <ul class="navbar-nav mx-auto nav ">
        <li class="nav-item mx-3">
          <a class="nav-link " href="/news">News</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Local Competetions</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/parties">Find a badminton activity</a>
        </li>
      </ul>
      {{!-- user login --}}
      <div class="d-flex">
        <a href={{#if user}}'/users/{{user.id}}'{{else}}'/signin'{{/if}}>
          <img src={{#if user.avatar}}{{user.avatar}}{{else}}'/images/guest.png'{{/if}} alt="user_avatar"
            id="avatar-in-nav">
        </a>
        <ul class="mb-0 p-0" style="list-style-type: none;" id="end-of-nav">
          <li class="m-1 ">
            <a href={{#if user}}'/logout'{{else}}'/signin'{{/if}}>
              {{#if user}}Logout{{else}}Login{{/if}}
            </a>
          </li>
          <li class="m-1"><a href="/signup">Sign up</a></li>
          <li class="m-1"><a href="#" data-bs-toggle="modal" data-bs-target="#aboutUs">About us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>