<div class="container-fluid" id="discussion">
  <div class="row vh-100">
    {{!-- side bar --}}
    <div class="col-2 p-1 side-bar">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/forum?category=equipment" class="nav-link" aria-current="page">
            裝備討論<span style="font-size: 10px;">(球拍、球鞋、球線、握把)</span>
          </a>
        </li>
        <li>
          <a href="/forum?category=injury" class="nav-link link-dark">
            運動傷害防護
          </a>
        </li>
        <li>
          <a href="/forum?category=technique" class="nav-link link-dark">
            技術討論
          </a>
        </li>
        <li>
          <a href="/forum?category=chat" class="nav-link link-dark">
            羽球雜談
          </a>
        </li>
        <li>
          <a href="/forum?category=trade" class="nav-link link-dark">
            二手用品交易
          </a>
        </li>
      </ul>
    </div>
    {{!-- certain discussion --}}
    <div class="col-8 p-3  d-flex flex-column align-items-center" data-bs-spy="scroll">
      <div class="text-center forum-card" style="max-width: 100%">
        <div class="card-header">
          <h3>{{discussion.header}}</h3>
        </div>
        <div class="card-body d-flex">
          <div class="media col-1"><img src={{discussion.User.avatar}} class="mr-3 rounded-circle" width="50"
              alt="User"></div>
          <div class="media col-11">{{discussion.content}}</div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-2 align-items-center "> <span style="font-size: 8px">{{#relativeTimeFromNow
                discussion.createdAt}}{{/relativeTimeFromNow}}</span></div>
            <div class="col-7 "></div>
            <div class="col-3  py-0 d-flex justify-content-end ">
              {{!-- 判斷使用者是否like此主題 --}}
              {{#ifInclude likedThings 0}}
              <form action="/like/discussion/{{discussion.id}}?_method=DELETE" method="POST">
                <button class="btn btn-sm p-0 icon">
                  <i class="fa-solid fa-heart"></i> Like
                </button>
              </form>
              {{else}}
              <form action="/like/discussion/{{discussion.id}}" method="POST">
                <button class="btn btn-sm p-0 icon">
                  <i class="fa-regular fa-heart"></i> Like
                </button>
              </form>
              {{/ifInclude}}
              <a href="#reply-input" id="direct-to-reply">
                <i class="fa-solid fa-reply align-bottom"></i>
                <span class="align-bottom">Reply</span>
              </a>
            </div>
          </div>
        </div>
        <div class="seperator" style="background-color: grey; height: 2px"></div>

        <div class="card-body">
          {{#each comments}}
          <div class="row">
            <div class="forum-reply col-1">
              <div>
                <img src={{this.User.avatar}} class="mr-3 rounded-circle" width="50" alt="User">
              </div>
              <span style="font-size: 8px;">
                {{#relativeTimeFromNow this.createdAt}}{{/relativeTimeFromNow}}
              </span>
            </div>
            <div class="forum-reply col-10">
              {{this.content}}
            </div>
            <div class="col-1 d-flex align-items-center">
              {{!-- 判斷使用者有like過哪些評論 --}}
              {{#ifInclude ../likedThings this.id}}
              {{!-- 按過like的 圖示改實心 --}}
              <form action="/like/discussion/{{../discussion.id}}/comment/{{this.id}}?_method=DELETE" method="POST">
                <button class="btn btn-sm">
                  <i class="fa-solid fa-thumbs-up"></i>
                </button>
              </form>
              {{else}}
              <form action="/like/discussion/{{../discussion.id}}/comment/{{this.id}}" method="POST">
                <button class="btn btn-sm">
                  <i class="fa-regular fa-thumbs-up"></i>
                </button>
              </form>
              {{/ifInclude}}
            </div>
            <hr class="hr-comment mt-1">
          </div>
          {{/each}}
        </div>
      </div>
      <form action="/forum/discussions/{{discussion.id}}" method="POST">
        <div class="input-group m-2" style="max-width:100%;">
          <input type="textarea" class="form-control" placeholder="發表回覆" aria-label="Recipient's username"
            aria-describedby="button-addon2" name="comment" id="reply-input">
          <button type="submit" class="btn btn-sm icon">
            <i class="fa-solid fa-reply"></i> Reply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>

</div>