<div class="container-fluid">
  <div class="row vh-100">
    {{!-- side bar --}}
    <div class="col-2 p-1 side-bar">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/forum?category=equipment" class="nav-link" aria-current="page">
            裝備討論<span style="font-size: 10px;">(球拍、球鞋、球線、握把)</span>
          </a>
        </li>
        <li>
          <a href="/forum?category=injury" class="nav-link link-dark">
            運動傷害防護
          </a>
        </li>
        <li>
          <a href="/forum?category=technique" class="nav-link link-dark">
            技術討論
          </a>
        </li>
        <li>
          <a href="/forum?category=chat" class="nav-link link-dark">
            羽球雜談
          </a>
        </li>
        <li>
          <a href="/forum?category=trade" class="nav-link link-dark">
            二手用品交易
          </a>
        </li>
      </ul>
    </div>
    {{!-- inner forum --}}

    <div class="col-10" data-bs-spy="scroll">
      <div class="d-flex flex-column align-items-center">
        {{#each discussions}}
        <div class="card-body p-1 forum-card d-flex my-2">
          <div class="media forum-item col-1">
            <a href="#" data-toggle="collapse" data-target=".forum-content">
              <img src={{this.User.avatar}} class="mr-3 rounded-circle" width="50" alt="User">
            </a>
          </div>
          <div class="media-body col-9 d-flex flex-column">
            <h6>
              <a href="/forum/discussions/{{this.id}}" data-toggle="collapse" data-target=".forum-content"
                class="text-body">{{this.header}}
              </a>
            </h6>
            <p class="text-muted">
              <a href="javascript:void(0)">
                drewdan
              </a> replied
              <span class="text-secondary font-weight-bold">
                13 minutes ago
              </span>
            </p>
          </div>
          <div class="text-muted small text-center align-self-center col-2">
            <span class="d-none d-sm-inline-block">
              <i class="far fa-eye"></i>
              19
            </span>
            <span>
              <i class="far fa-comment ml-2"></i>
              3
            </span>
          </div>
        </div>
        {{/each}}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
              <a class="page-link " href="/forum?page={{pagination.prev}}" aria-label="Previous">&laquo;</a>
            </li>
            {{#each pagination.pages}}
            <li class="page-item {{#ifCond this ../pagination.currentPage}}active{{/ifCond}}"><a class="page-link"
                href="/forum?page={{this}}">{{this}}</a></li>
            {{/each}}
            <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
              <a class="page-link " href="/forum?page={{pagination.next}}">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>