<div class="container-fluid ">
  <div class="row min-vh-100 ">

    {{!-- sidebar --}}
    <div class="col-2 side-bar" id="sidebar">
      <form action="">
        <h6 class="p-1 border-bottom">Filter By</h6>
        <p class="mb-2">地區</p>
        <select class="form-select border-bottom" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </form>
      <ul id="checkbox-list" class="list-unstyled">
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="0" checked>Mon.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="1" checked>Tues.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="2" checked>Wed.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="3" checked>Thur.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="4" checked>Fri.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="5" checked>Sat.</li>
        <li><input class='weekdayCheckbox form-check-input' type="checkbox" value="6" checked>Sun.</li>
      </ul>
    </div>

    {{!-- parties --}}
    <div class="col-9 party-container">
      <div class="container justify-content-center">
        <table class="table table-striped " id="parties">
          <thead>
            <tr>
              <th scope="col">
                <nobr>團體(活動)名稱</nobr>
              </th>
              <th scope="col">
                <nobr>主揪</nobr>
              </th>
              <th scope="col">
                <nobr>聯絡方式</nobr>
              </th>
              <th scope="col">
                <nobr>星期幾</nobr>
              </th>
              <th scope="col">
                <nobr>球場資訊</nobr>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each parties}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.host_name}}</td>
              <td>{{this.contact}}</td>
              <td class="days" value={{this.day_of_the_week}}>{{this.day}}</td>
              <td>{{this.court_location}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/filter.js"></script>