<div class="container-fluid min-vh-100 outline">
  <div class="row">
    {{!-- sidebar --}}
    <div class="col-2 side-bar" id="sidebar">
      <form action="">
        <h6 class="p-1 border-bottom">Filter By</h6>
        <p class="mb-2">地區</p>
        <select class="form-select border-bottom" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <p class="mb-2"></p>
      </form>
    </div>
    {{!-- parties --}}
    <div class="outline col-8 party-container">
      <table class="table" id="parties">
        <thead>
          <tr>
            <th scope="col"><nobr>活動名稱</nobr></th>
            <th scope="col"><nobr>主揪</nobr></th>
            <th scope="col"><nobr>聯絡方式</nobr></th>
            <th scope="col"><nobr>星期幾</nobr></th>
            <th scope="col"><nobr>球場資訊</nobr></th>
          </tr>
        </thead>
        <tbody>
          {{#each parties}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.host_name}}</td>
            <td>{{this.contact}}</td>
            <td>{{this.day_of_the_week}}</td>
            <td>{{this.court_location}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>