<div class="container outline mt-5">
  <div class="row">
    <div class="col-2">
      <div class="p-1">
        <img src="{{user.avatar}}" alt="User's avatar" id="avatar-in-users">
      </div>
    </div>
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">暱稱: {{user.name}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">居住地: {{user.City.name}}</li>
        <li class="list-group-item">註冊日: {{user.createdAt}}</li>
      </ul>
    </div>
    <div class="col-4">col</div>
  </div>
</div>